.flatpickr-calendar .numInputWrapper span.arrowDown:after {
    border-top-color: #fff
}

.flatpickr-calendar .numInputWrapper span.arrowUp:after {
    border-bottom-color: #fff
}

.flatpickr-day.today {
    border-color: #696cff
}

.flatpickr-day.inRange,.flatpickr-day.nextMonthDay.inRange,.flatpickr-day.prevMonthDay.inRange,.flatpickr-day.today.inRange,.flatpickr-day.prevMonthDay.today.inRange,.flatpickr-day.nextMonthDay.today.inRange {
    color: #696cff !important;
    background: #e7e7ff !important;
    border-color: #e7e7ff !important
}

.flatpickr-day.selected,.flatpickr-day.selected.inRange,.flatpickr-day.selected:focus,.flatpickr-day.selected:hover,.flatpickr-day.selected.nextMonthDay,.flatpickr-day.selected.prevMonthDay,.flatpickr-day.startRange,.flatpickr-day.startRange.inRange,.flatpickr-day.startRange:focus,.flatpickr-day.startRange:hover,.flatpickr-day.startRange.nextMonthDay,.flatpickr-day.startRange.prevMonthDay,.flatpickr-day.endRange,.flatpickr-day.endRange.inRange,.flatpickr-day.endRange:focus,.flatpickr-day.endRange:hover,.flatpickr-day.endRange.nextMonthDay,.flatpickr-day.endRange.prevMonthDay,.flatpickr-day.week.selected {
    color: #fff !important;
    background: #696cff !important;
    border-color: #696cff !important;
    box-shadow: 0 .125rem .25rem rgba(105,108,255,.45)
}
